<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a href='/users'>Users</a></li
                class="main-header_item-list">
            <li class="main-header_item"><a href='/'>Form</a></li>
        </ul>
    </nav>
</header>