<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs')%>
    <main>
        <form class="product-form" action="/" method="post">
            <div class="form-control">
                <label for="title">UserName</label>
                <input type="text" name="title" id="title">
            </div>
            <button class="btn" type="submit">Add User</button>
        </form>
    </main>

    <%- include('includes/end.ejs')%>